spring:
  datasource:
    url: jdbc:mysql://localhost:3306/movies
    username: root
    password: Root123@#$

  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: "salemsheer4321@gmail.com"
    password: "xglm nxej mgqz drqk"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true



  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  app:
    secret-key: 010100101010102342425253gsetygsrdtgr788sdfhg865sdfh85sdh586sdfh865hdsh
    jwtExpirationMs: 300000000
    jwtRefreshExpirationMs: 150000000000

project:
  poster: poster/

base:
  url: "http://localhost:8080"



